body {
  min-height: 100vh;      /* Ocupa toda la altura de la pantalla */
  display: flex;          /* Activa flexbox */
  flex-direction: column; /* Ordena en columna */
  margin: 0;
}


h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: orange;
    font-size: 50px;
    margin: auto;
    text-shadow: 2px 2px 2px #000;
}

header{
    background-color: darkblue;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    flex-direction: row;
}

nav{
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigatorbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
    transition: all 0.3s ease;
}

.navigationbarlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
    flex-wrap: nowrap;
    flex-direction: row;
    transition: all 0.3s ease;
}

.navigationbarlist li{
    float: left;
    transition: all 0.3s ease;

}

.navigationbarlist li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: transparent;
}

.navigationbarlist li a:hover{
    background-color: white;
    color: black;
    border-color: darkblue;
}

.container{
    width: 80%;
    margin: auto;
    max-width: 1200px;
    padding: 5%;
}

.container * {
    box-sizing: border-box; 
}

.flex-outer{
list-style-type: none;
padding: 0%;
max-width: 800px;
margin: 0 auto;
}

.flex-outer li{
display: flex;
flex-direction: column;
align-items: center;
margin: 5px;
padding: 5px;
width: 100%;
border: 2px solid #ccc;
border-radius: 5px;
}

.flex-outer li:not(:last-child){
    margin-bottom: 20px;
}  

/* Estilos específicos para el botón de enviar */
.EnviarBoton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 12px 30px;
    background-color: white;
    color: black;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.EnviarBoton:hover{
   background-color: darkblue;
    color: white;
  border-color: darkblue;    
 }  

.flex-outer li label, .flex-outer li input , .flex-outer li textarea{ /*esto es para que los input y textarea se vean igual*/
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    background-color: white;
    box-shadow: 0 0 5px #ccc;
}

.flex-outer li label, .flex-outer li p{
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;    

}


footer{
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

input[type="checkbox"] { accent-color: darkblue; width: 18px; height: 18px; }
input[type="checkbox"] {
    margin-left: 10px;   width: 18px;   height: 18px;   accent-color: darkblue;
  }

.logo {
    display: block;
    
    
}


.footer-redes img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    vertical-align: middle;
    transition: transform 0.3s ease;
}

main {
  flex: 1; /* Empuja el footer hacia abajo */
  padding-bottom: 40px;
}

.inicio {
  max-width: 1000px;       /* Limita el ancho del texto */
  margin: 40px auto;      /* Centra el bloque */
  text-align: center;     /* Centra el texto */
  padding: 20px;
  font-size: 20px;
}

.inicio h3 {
  color: darkblue;        /* Color del título */
  margin-bottom: 15px;
  font-size: 30px;
  
}

.inicio p {
  font-size: 20px;
  line-height: 1.6;       /* Hace el texto más legible */
}

.nuestros-trabajos-galeria {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
  font-size: 50px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px #000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.galeria {
  display: grid; /* Activa el sistema de cuadrícula */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* Crea columnas automáticas según el tamaño de pantalla */

  gap: 20px; /* Espacio entre imágenes */
  padding: 20px; /* Espacio interno del contenedor */
}

.galeria img {
  width: 100%; /* La imagen ocupa todo el ancho de la columna */
  height: auto; /* Mantiene la proporción */
  border-radius: 8px; /* Bordes redondeados */
}

/* apartado de contacto*/

.contacto-info,
.contacto-datos,
.contacto-cta,
.contacto-mapa {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.contacto-info p,
.contacto-datos p {
  font-size: 18px;
  line-height: 1.6;
  font-size: 20px;
}

.contacto-info h2 {
  font-size: 30px;
  color: darkblue;
}

.contacto-mapa h3 {
  font-size: 30px;
  color: darkblue;

}

.contacto-datos h3 {  
  font-size: 30px;
  color: darkblue;
}

.contacto-cta p {
  margin-bottom: 20px;
  font-size: 20px;
}

.boton-contacto {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 25px;
  background-color: darkblue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.boton-contacto:hover {
  background-color: #00008b;
}



.icono-x img {
  width: 50px; 
  height: 50px;
}

.footer-redes img:hover {
  transform: scale(1.2);
}

.servicios {
  max-width: 1000px;
  margin: 60px auto;
  text-align: center;
}

.servicios h3 {
  color: darkblue;
  font-size: 32px;
  margin-bottom: 30px;
  font-size: 30px
}

.servicios-lista {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
}

.servicio {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  width: 280px;
}

.servicio h4 {
  color: darkblue;
  margin-bottom: 10px;
  font-size: 24px;
}

.aviso-legal {
  max-width: 1000px;
  margin: 60px auto;
  text-align: center;
  font-size: 20px;
  color: lightblue;
}