body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f7fb;
  color: #333;
}

header {
  background-color: #0d1f38;  /* tono m치s profundo, igual al del logo */
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav .activo a {
  text-decoration: underline;
}

main {
  padding: 20px;
}

footer {
  background-color: #0f1724;
  color: white;
  text-align: center;
  padding: 20px;
}

footer img {
  width: 25px;
  margin: 0 5px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.logo {
  width: 120px;        /* tama침o m치s peque침o */
  height: auto;        /* mantiene proporciones */
}