<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinturarte</title>
    <link rel="icon" type="image/x-icon" href="./../favicon.ico"> 
    <link rel="stylesheet" href="./../css/estilos.css">
</head>
<body>
    <header>
         <a href="./../index.html">
        <img src="./../assets/img/logo-pinturarte-sin-letras.png" alt="Logo de Pinturarte" class="logo" width="100" height="100">
        </a>
    <h1>
        Galería
    </h1>
    <nav class="navigatorbar">
     <ul class="navigationbarlist">
         <li><a href="./../index.html">Inicio</a></li>
         <li><a href="./presupuesto.html">Presupuesto</a></li>
         <li><a href="./contacto.html">Contacto</a></li>
         <li><a href="./galeria.html">Galería</a></li>
     </ul>
    </nav>
    </header>
    <main>
            <h2 class="nuestros-trabajos-galeria">Nuestros trabajos</h2>

        <section class="galeria">
            <img src="../assets/img/pintura-interior.jpg" alt="Pintura interior">
            <img src="../assets/img/pintura-exterior.jpeg" alt="Pintura exterior">
            <img src="../assets/img/puertas-pintadas.jpg" alt="Puertas pintadas">
            <img src="../assets/img/muebles-restaurados.jpg" alt="Muebles restaurados">
        </section>

    </main>
    <footer>
        <div class="footer-redes">
            <a href="https://www.facebook.com/" aria-label="Facebook" target="_blank">
                <img src="../assets/img/facebook.png" alt="Facebook" width="50" height="50">
            </a>

            <a href="https://www.instagram.com" aria-label="Instagram" target="_blank">
                <img src="../assets/img/instagram.png" alt="Instagram" width="50" height="50">
            </a>

            <a href="https://x.com/" aria-label="Twitter" target="_blank" class="icono-x">
                <img src="../assets/img/x.png" alt="Twitter" width="50" height="50">
            </a>
        </div>
            <p>Dirección: Calle Falsa 123, Málaga</p>

        <p class="legal">
            © 2025 PinturArte · <a href="#" class="aviso-legal">Aviso legal</a>
        </p>
    </footer>
</body>
</html>