<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinturarte</title>
    <link rel="icon" type="image/x-icon" href="./../favicon.ico"> 
    <link rel="stylesheet" href="./../css/estilos.css">
</head>
<body>
    <header>
         <a href="./../index.html">
        <img src="./../assets/img/logo-pinturarte-sin-letras.png" alt="Logo de Pinturarte" class="logo" width="100" height="100">
        </a>
    <h1>
        Presupuesto
    </h1>
    <nav class="navigatorbar">
     <ul class="navigationbarlist">
        <li><a href="./../index.html">Inicio</a></li>
        <li><a href="./presupuesto.html">Presupuesto</a></li>
        <li><a href="./contacto.html">Contacto</a></li>
        <li><a href="./galeria.html">Galería</a></li>
     </ul>
    </nav>
    </header>
        <div class="container">
        <form id="myForm" name="myForm" action="#" method="get" target="_self">
            <ul class="flex-outer">
                <li>
                    <label>Nombre:</label>
                    <input type="text" name="first-name" id="first-name" placeholder="Escriba su nombre" title="Escriba solo letras entre 3 y 20 caracteres" pattern="[A-Z a-z]{3,20}" required>
                </li>
                <li>
                    <label>Apellido:</label>
                    <input type="text" name="last-name" id="last-name" placeholder="Escriba su apellido" title="Escriba solo letras entre 3 y 20 caracteres" pattern="[A-Z a-z]{3,20}" required>
                </li>
                <li>
                    <label>Email:</label>
                    <input type="email" name="email" id="email" placeholder="Escriba su email" required>
                </li>
                <li>
                    <label>Telefono:</label>
                    <input type="tel" name="phone" id="phone" placeholder="Escriba su telefono" required>
                </li>
                <li>
                    <label>Mensaje:</label>
                    <textarea name="presupuesto" id="presupuesto" placeholder="Escriba su presupuesto" required></textarea>
                </li>
                <li>
                    <label for="politica">Acepto los términos y condiciones:</label>
                    <input type="checkbox" name="terms" id="politica" required>
                </li>
              <li><input type="submit" value="Enviar" class="EnviarBoton"></li>
            </ul>
        </form>
    </div>
        
    <footer>
        <div class="footer-redes">
            <a href="https://www.facebook.com/" aria-label="Facebook" target="_blank">
                <img src="../assets/img/facebook.png" alt="Facebook" width="50" height="50">
            </a>

            <a href="https://www.instagram.com" aria-label="Instagram" target="_blank">
                <img src="../assets/img/Instagram.png" alt="Instagram" width="50" height="50">
            </a>

            <a href="https://x.com/" aria-label="Twitter" target="_blank" class="icono-x">
                <img src="../assets/img/x.png" alt="Twitter" width="50" height="50">
            </a>
        </div>

            <p>Dirección: Calle Falsa 123, Málaga</p>

        <p class="legal">
            © 2025 PinturArte · <a href="#" class="aviso-legal">Aviso legal</a>
        </p>
    </footer>
</body>        
</html>